@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap'); 

body {
    margin: 0px; 
    font-family: 'Mulish', sans-serif; 
}
.header {
    align-items: center;
    display: flex; 
    background-color: #453e6e;
    color: white;
    height: 100px; 
    justify-content: space-between; 
    top: 0px;
    width: 100%; 
    height: 15%vh;
}
.header__img img{
    margin-left: 30px;
    width: 70px;
}
main .main__container {
    height: 75%vh;
    min-width: 320px;
}
.login {
    background: linear-gradient(#453e6e, #757cc2); /*aplicamos la propiedad de degradado*/
    display: flex; /*felxbox para acomodar nuestros elementos*/
    align-items: center; /*alinear de forma vertical*/
    justify-content: center; /*alinear de forma horizontal*/
    flex-direction: column; /*posicionar elementos de arriba abajo*/
    padding: 0px, 30px;
    min-height: calc(100vh - 200px); /*aplicamos esta propiedad para que siempre tenga el valor que se está calculando "calc" por más alto que sea la pantalla (vh=valor relativo)*/
}
.login__container {
    background-color: rgba(255, 255, 255, 0.1); /*apicamos una opacidad reducida al contenedor*/
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px 68px;
    min-height: 700px;
    min-width: 320px;
    display: flex;
    justify-content: space-around; /*hacer un espaciado igual en todos los elementos*/
    flex-direction: column;
}
.login__container--form { /*clase de formulario*/
    display: flex; /*alienar elementos*/
    flex-direction: column; /*alinear elementos de arriba abajo*/
}
.login__container--form label { /*clase de formulario*/
    font-size: 14px;
}
.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between; /*espacio entre elementos*/
    margin-top: 10px;
}
.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.login__container--remember-me a:hover { /*aplicamos el subrayado al hacer hover sobre el elemento*/
    text-decoration: underline;
}
.login__container--social-media > div { /*aplicamos las propiedades a todos los elemntos <div> dentro de la clase */
    display: flex;
    align-items: center; /*alinear elementos de forma vertical*/
    font-size: 14px;
    margin-bottom: 16px;
}
.login__container--social-media > div > img { /*aplicamos las propiedades a todos los elemntos <img> dentro del <div> dentro de la clase */
    width: 30px;
    margin-right: 10px;
}
.login__container--register {
    font-size: 14px;
}
.login__container--register a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.login__container--register a:hover {
    text-decoration: underline;
}
.input { /*modificar componente input*/
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder {
    color: white;
}
.button {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px; /*separar un poco las letras*/
    margin: 10px 0px;
}
.footer {
    background-color: #757cc2;
    display: flex;
    align-items: center;
    height: 100px;
    width: 10%vh;
}
.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 600px) { /*media queri para hacer nuestro sitio responsive: adaptar la pantalla a máximo 600px*/
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100;
    }
    .footer {
        align-items: flex-start; /*alinear elementos desde el primero al último*/
        flex-direction: column; /*alimnear elementos de forma vertical*/
    }
}